<button
  class="capitalize enabled:cursor-pointer transition-all flex justify-center items-center disabled:opacity-75 disabled:cursor-not-allowed w-full py-2 px-4 rounded-full text-white font-extrabold"
  [class.bg-[#D3D3D3]]="disabled()"
  [class.bg-primary]="!disabled()"
  [type]="type()"
  [disabled]="disabled()"
  (click)="handleClick()"
>
  @if (text()) {
    <span>{{ text() }}</span>
  }

  @if (loading()) {
    <i class="pi pi-spin pi-spinner" style="font-size: 0.9rem"></i>
  }
</button>
