<div class="step-container">
  <app-step-header
    [title]="'What Is Your Goal?'"
    [subtitle]="'This helps us create your personalized plan'"
    [currentStep]="5"
    [totalSteps]="6"
  />
  <div class="radio-list">
    @for (goal of goals; track goal.value) {
      <label class="radio-item" [class.selected]="selected() === goal.value">
        <span class="radio-circle" [class.checked]="selected() === goal.value"></span>
        <input
          type="radio"
          name="goal"
          [value]="goal.value"
          (change)="selected.set(goal.value)"
          hidden
        />
        <span class="radio-label">{{ goal.label }}</span>
      </label>
    }
  </div>
  <app-button type="button" (onClick)="onNext()" [isDisabled]="!isValid()">
    Next
  </app-button>
</div>
