.swiper-slide-active {
    color: var(--p-primary-color) !important;
}

.arrowUp {
    &::after {
        content: '';
        display: block;
        transform: translateX(-50%);
        position: relative;
        inset-inline-start: 50%;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 12px solid currentColor;
    }
}