@if (currentStep() === 1) {
  <app-register-account (next)="onAccountNext($event)" />
}
@if (currentStep() === 2) {
  <app-register-gender (next)="onGenderNext($event)" />
}
@if (currentStep() === 3) {
  <app-register-age (next)="onAgeNext($event)" />
}
@if (currentStep() === 4) {
  <app-register-weight (next)="onWeightNext($event)" />
}
@if (currentStep() === 5) {
  <app-register-height (next)="onHeightNext($event)" />
}
@if (currentStep() === 6) {
  <app-register-goal (next)="onGoalNext($event)" />
}
@if (currentStep() === 7) {
  <app-register-activity (next)="onActivitySubmit($event)" />
}
