<footer
  class="bg-[#F3F3F4] dark:bg-[#232424] py-10 px -20 grid grid-cols-1 justify-items-center sm:grid-cols-2 lg:grid-cols-4 gap-6"
>
  <div class="flex flex-col items-center gap-2">
    <img src="assets/imgs/logo.png" alt="" class="w-40" />
    <div class="space-y-1 text-[#242424] dark:text-[#F3F3F4] text-lg">
      <p>Push harder, go further. Your</p>
      <p>fitness journey starts today!</p>
    </div>
  </div>
  <div class="space-y-6">
    <h3 class="text-lg font-bold text-[#242424] dark:text-[#F3F3F4]">contact us</h3>
    <div class="space-y-2">
      <div class="flex items-center gap-4">
        <div
          class="w-10 h-10 rounded-full border border-[#242424] dark:border-[#3F4553] flex justify-center items-center text-[#242424] dark:text-[#F3F3F4]"
        >
          <svg lucidePhone></svg>
        </div>
        <a
          href="tel:+91123456789"
          class="text-[#242424] dark:text-[#F3F3F4] text-lg hover:text-primary transition"
          >+91 123 456 789</a
        >
      </div>
      <div class="flex items-center gap-4">
        <div
          class="w-10 h-10 rounded-full border border-[#242424] dark:border-[#3F4553] flex justify-center items-center text-[#242424] dark:text-[#F3F3F4]"
        >
          <svg lucideMail></svg>
        </div>
        <a
          href="mailto:info@gmail.com"
          class="text-[#242424] dark:text-[#F3F3F4] text-lg hover:text-primary transition"
          >info@gmail.com</a
        >
      </div>
    </div>
  </div>
  <div class="space-y-6">
    <h3 class="text-lg font-bold text-[#242424] dark:text-[#F3F3F4]">our gym timing</h3>
    <div class="space-y-2 text-lg text-[#242424] dark:text-[#F3F3F4]">
      <p>Mon - Fri : 08:00 AM - 10:00 PM</p>
      <p>Sat - Sun : 08:00 AM - 09:00 PM</p>
    </div>
  </div>
  <div class="space-y-6">
    <h3 class="text-lg font-bold text-[#242424] dark:text-[#F3F3F4]">our location</h3>
    <div class="text-lg text-[#242424] dark:text-[#F3F3F4]">
      <p>2715 Ash Dr. San Jose, South</p>
      <p>Dakota 83475</p>
    </div>
  </div>
</footer>
