<div class="flex flex-col gap-1.5">
  @if (label()) {
    <label [for]="inputId()" class="block text-sm font-bold text-slate-700 dark:text-slate-300">
      {{ label() }}
    </label>
  }

  <div class="relative">
    <input
      [readonly]="isReadonly()"
      [id]="inputId()"
      [type]="type() === 'password' ? (isPasswordVisible() ? 'text' : 'password') : type()"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="handleInput($event)"
      (blur)="onBlur()"
      [disabled]="isDisabled()"
      class="w-full rounded-[20px] border border-[#D9D9D9] py-3.5 px-4 text-sm text-[#D3D3D3] placeholder:text-[#D3D3D3] outline-none transition focus:border-primary"
      [class]="styleClass()"
      [class.ps-10]="hasIcon()"
      [class]="
        isInvalid()
          ? 'border-[#ec003f]'
          : ''
      "
    />
    @if (type() == 'password') {
      <button
        type="button"
        class="absolute top-1/2 -translate-y-1/2 inset-e-1.5 cursor-pointer bg-transparent p-2 text-slate-400 transition hover:text-slate-600 dark:text-slate-500 dark:hover:text-slate-300"
        (click)="togglePasswordVisibility()"
      >
        @if (isPasswordVisible()) {
          <svg lucideEye class="opacity-75" strokeWidth="1.5"></svg>
        }
        @if (!isPasswordVisible()) {
          <svg lucideEyeOff class="opacity-75" strokeWidth="1.5"></svg>
        }
      </button>
    }

    <div class="pointer-events-none absolute inset-s-3 left-3 top-1/2 -translate-y-1/2 text-[#D3D3D3]">
      <ng-content />
    </div>
  </div>
</div>
