<div class="flex flex-col gap-1.5">
  @if (label()) {
    <label [for]="inputId()" class="block text-sm font-bold text-slate-700 dark:text-slate-300">
      {{ label() }}
    </label>
  }

  <div class="relative">
    <input
      [readonly]="isReadonly()"
      [id]="inputId()"
      [type]="type() === 'password' ? (isPasswordVisible() ? 'text' : 'password') : type()"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="handleInput($event)"
      (blur)="onBlur()"
      [disabled]="isDisabled()"
      class="w-full rounded-[20px] border border-[#D9D9D9] py-3.5 pr-4 text-sm text-[#D3D3D3] placeholder:text-[#D3D3D3] outline-none transition"
      [class]="styleClass()"
      [class.pl-10]="hasIcon()"
      [class.pl-4]="!hasIcon()"
      [class]="
        isInvalid()
          ? 'border-rose-300 focus:border-rose-400 dark:border-rose-400 dark:focus:border-rose-300'
          : 'border-slate-200 focus:border-[#00298d] dark:border-slate-700 dark:focus:border-blue-400'
      "
    />
    @if (type() == 'password') {
      <button
        type="button"
        class="absolute top-1/2 -translate-y-1/2 right-1.75 cursor-pointer bg-transparent p-2 text-slate-400 transition hover:text-slate-600 dark:text-slate-500 dark:hover:text-slate-300"
        (click)="togglePasswordVisibility()"
      >
        @if (isPasswordVisible()) {
          <svg lucideEye class="opacity-75" strokeWidth="1.5"></svg>
        }
        @if (!isPasswordVisible()) {
          <svg lucideEyeOff class="opacity-75" strokeWidth="1.5"></svg>
        }
      </button>
    }

    <div class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-[#D3D3D3]">
      <ng-content />
    </div>
  </div>
</div>
