<section class="space-y-2">
  <app-auth-title title="Create An Account"></app-auth-title>
  <section class="rounded-[50px] border border-[#D3D3D3] p-10 space-y-2 backdrop-blur-3xl">
    <form [formGroup]="testform" class="space-y-6">
      <div class="space-y-4">
        <p class="text-2xl font-extrabold text-white text-center">Register</p>
        <div class="space-y-2">
          <div class="space-y-4">
            <div>
              <app-input
                inputId="first_name"
                formControlName="firstName"
                placeholder="First Name"
                [attr.aria-describedby]="firstNameError.id()"
                [attr.aria-invalid]="
                  testform.controls['firstName'].invalid && testform.controls['firstName'].touched
                "
              >
                <svg #inputIcon lucideUser class="size-5"></svg>
              </app-input>
              <app-field-error
                #firstNameError
                [control]="testform.controls['firstName']"
                label="First name"
              ></app-field-error>
            </div>
            <div>
              <app-input
                inputId="last-name"
                formControlName="lastName"
                placeholder="Last Name"
                [attr.aria-describedby]="lastNameError.id()"
                [attr.aria-invalid]="
                  testform.controls['lastName'].invalid && testform.controls['lastName'].touched
                "
              >
                <svg #inputIcon lucideUser class="size-5"></svg>
              </app-input>
              <app-field-error
                #lastNameError
                [control]="testform.controls['lastName']"
                label="Last name"
              ></app-field-error>
            </div>
            <div>
              <app-input
                inputId="email"
                typ="email"
                formControlName="email"
                placeholder="Email"
                [attr.aria-describedby]="emailError.id()"
                [attr.aria-invalid]="
                  testform.controls['email'].invalid && testform.controls['email'].touched
                "
              >
                <svg #inputIcon lucideMail class="size-5"></svg>
              </app-input>
              <app-field-error
                #emailError
                [control]="testform.controls['email']"
                label="Email"
              ></app-field-error>
            </div>
            <div>
              <app-input
                inputId="password"
                type="password"
                formControlName="password"
                placeholder="Password"
                [attr.aria-describedby]="passwordError.id()"
                [attr.aria-invalid]="
                  testform.controls['password'].invalid && testform.controls['password'].touched
                "
              >
                <svg #inputIcon lucideLock class="size-5"></svg>
              </app-input>
              <app-field-error
                #passwordError
                [control]="testform.controls['password']"
                label="Password"
                [customMessages]="{
                  'pattern':'Please enter a valid password'
                }"
              ></app-field-error>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</section>
