<div class="bg-cover bg-center" style="background-image: url(assets/imgs/auth_bg.webp)">
    <div class="bg-[#24242499] backdrop-blur-[86px]">
        <div class="grid grid-cols-1 lg:grid-cols-2 h-screen">
            <div class="container hidden lg:flex flex-col justify-center items-center gap-28 outline outline-primary">
                <img class="w-50" src="assets/imgs/logo.png">
                <img class="w-xl" src="assets/imgs/cover.webp">
            </div>

            <div class="h-full flex justify-center items-center backdrop-blur-sm">
                <div class="container mx-auto px-5 sm:px-15 lg:px-30 xl:px-40">
                    <router-outlet />
                </div>
            </div>
        </div>
    </div>
</div>