<div class="step-container">
  <div class="gender-cards">
    <div
      class="gender-card"
      [class.selected]="selected() === 'male'"
      (click)="selected.set('male')"
    >
      <div class="icon-circle">
        <svg lucideMars [size]="40"></svg>
      </div>
      <span>Male</span>
    </div>
    <div
      class="gender-card"
      [class.selected]="selected() === 'female'"
      (click)="selected.set('female')"
    >
      <div class="icon-circle">
        <svg lucideVenus [size]="40"></svg>
      </div>
      <span>Female</span>
    </div>
  </div>
  <app-button type="button" (onClick)="onNext()" [isDisabled]="!isValid()">
    Next
  </app-button>
</div>
