.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  min-height: 100%;
  padding: 2rem;
  width: 100%;
  background: transparent;
}

.gender-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

.gender-card {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 3.5rem;
  border-radius: 100%;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: 'Baloo Thambi 2', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition:
    border-color 0.2s ease,
    background 0.2s ease;
  background: transparent;
}

.gender-card .icon-circle {
  border-color: #555;
}

.gender-card.selected .icon-circle {
  border-color: #ff4100;
}

.step-container app-button {
  display: block;
  width: 100%;
  max-width: 400px;
}

.gender-card.selected {
  border-color: #ff4100;
  background: var(--p-primary-color);
}

.gender-card i,
.gender-card svg {
  width: 40px;
  height: 40px;
  // color: #ff4100;
}
