/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');


@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import "primeicons/primeicons.css";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --p-primary-color: #FF4100 !important;
  --p-primary-hover-color: #FF4100 !important;
  --p-primary-active-color: #FF4100 !important;
}

.dark {
  color: #F3F3F4;
  background: #242424;

  height: 200vh;
}

html[lang="ar"] body {
  font-family: "Zain", sans-serif;
}

html[lang="en"] body {
  font-family: "Baloo Thambi 2", system-ui;
}

html[lang="ar"] .lang-switcher {
  font-family: "Baloo Thambi 2", system-ui;
}

html[lang="en"] .lang-switcher {
  font-family: "Zain", sans-serif;
}

.p-speeddial-item {
  button {
    margin-bottom: .5rem;
    padding: 1rem !important;
  }
}