/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap');


@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.dark, .dark *));


:root {
    --p-primary-color: #FF4100 !important;
    --p-primary-hover-color: #FF4100 !important;
    --p-primary-active-color: #FF4100 !important;
}

.dark {
    color: #F3F3F4;
    background: #242424;
}

body {
    font-family: "Baloo Thambi 2", system-ui;
}