<section class="h-screen pt-27 bg-amber-50">
    <div class=" container mx-auto">
        <h1 class=" uppercase font-bold mb-4 text-7xl">Your body can <span class="text-primary">stand <br> almost</span> anything</h1>

        <p class=" border-s-4 border-primary mb-12 ps-5">
            It's your mind that needs convincing. Push past your limits, stay <br>
            committed, and watch as your body transform into powerhouse of <br>
            strength and resilience. Start your journey today & truly capable of!
        </p>

        <div>

        </div>

        <div class=" flex justify-start items-center gap-12">
            <app-button type="submit" [withArrow]="true">Get Started</app-button>
            <app-button type="submit" [outline]="true" [withArrow]="true">Explore More</app-button>
        </div>
    </div>
</section>